* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: white;
}
body {
    background: rgba(61, 41, 85, 0.6) url(images/img.png) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: color;
    backdrop-filter: blur(6px);
}
#background {
    background: linear-gradient(to bottom, transparent 5%, rgba(45, 87, 124, 0.5) 30%,  rgba(0, 0, 0, 0.9) 100%);
    height: 100vh;
}
#container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    text-align: justify;
    border-bottom: rgba(244, 165, 96, 0.3) double 11px; 
    
}
h1 {
    padding: 20px 0;
    font-size: 2.2em;
    text-align: center;
    text-shadow: -3px 3px 1px rgba(0, 0, 0, 0.4), 0px 32px 1px rgba(244, 165, 96, 0.4), 0px 58px 3px rgba(244, 165, 96, 0.15);
    
}
#main-inf {
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    align-items: center;
    
}














/*
#img-div {
    height:300px;
    width:500px;
    overflow: hidden;
    display: flex;
    align-items: center;
}
*/
.slider{
    flex-basis:50%;
    height: 300px;
    text-align: center;
    
}
.slider li{
   display: inline;
}

.slider img{
    max-height: 300px;
    max-width: 100%;
    box-shadow: -15px 15px 2px rgba(0, 0, 0, 0.4), 15px -15px 2px rgb(128, 233, 247, .2), 2px -2px 5px rgba(0, 0, 0, 0.6), -3px 3px 5px rgba(0, 0, 0, 0.4);
    animation-duration: 1000ms;
    filter: opacity(100%);
    transform: scale(0.001);
    transition: 1000ms; 
    transform: scale(1);

}
.control div{
    border-radius: 50%;
    width:20px;
    height:20px;
    background-color: rgba(255,255,255,.7);
    margin: 10px;
    display: inline-block;
    opacity: 0.4;
}
#c1 {
    opacity: 1;
}
.control{
 margin:0;
 padding:0;
 
}

.small{
    transform: scale(0.01);
}






#main-inf p {
    padding: 40px;
    flex-basis:42%;

}
#main-inf p::first-letter {
    color: rgba(244, 165, 96);
    font-size: 2em;
}
.date {
    color: rgb(128, 233, 247);
}

@media (max-width: 720px) {
    #main-inf {
        flex-direction: column-reverse;
        width: 100%;
    }
    #main-inf img {
        margin-top: 40px;
        width: 90%;
    }
    #background {
        background-attachment: fixed;
        height: 100vh;
    }
    body {
        background: rgba(61, 41, 85, 0.6) url(images/img.png) no-repeat center;
        background-size: cover;
        background-attachment: fixed;
        background-blend-mode: color;
        backdrop-filter: blur(4px);
        
    }
    #main-inf p {
        font-size: 1.4em;
        padding: 20px;
    }
    #background {
        background-attachment: fixed;
        height: 100%;
    }
    h1 {
        text-shadow: -3px 3px 1px rgba(0, 0, 0, 0.4), -8px 8px 2px rgba(244, 165, 96, 0.4);
    }
}
